/* NAVBAR DEFAULT */
.container-dashboard {
  width: 1440px;
  height: 266px;
  left: 0px;
  top: 0px;
  background: #f1f3ff;
}

.container-content {
  margin-left: 150px;
  margin-top: 110px;
  width: 500px;
}

.btn-register {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  position: static;
  width: 81px;
  height: 36px;
  left: 359px;
  top: 0px;
  background: #5cb85f;
  border-radius: 2px;
  flex: none;
  order: 4;
  flex-grow: 0;
  margin: 0px 32px;
  color: white;
}

.btn-register p {
  margin-top: 17px;
}

/* CONTENT*/
.container-frame {
  position: absolute;
  width: 1047px;
  height: 142px;
  left: 196px;
  top: 195px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}
.pencarianS {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  margin-left: 25px;
  margin-top: 23px;
  margin-bottom: -5px;
}

.judul0201 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  margin-top: 30px;
  margin-left: 27px;
}

.tipeDriver02 {
  align-items: center;
  padding: 9px 27px;
  width: 210.75px;
  height: 36px;
  top: 22px;
  background: #ffffff;
  border-radius: 2px;
  order: 1;
  margin-top: -10px;
}

.judul0202 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  margin-left: 258px;
  margin-top: -62px;
}

.date-frame02 {
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  order: 1;
  margin-left: 260px;
  margin-top: -10px;
}

.judul0203 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  margin-left: 480px;
  margin-top: -55px;
  margin-bottom: 18px;
}

.time-frame02 {
  align-items: center;
  width: 210.75px;
  height: 36px;
  box-sizing: border-box;
  border-radius: 2px;
  order: 1;
  margin-left: 480px;
  margin-top: -15px;
}

.judul0204 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  margin-left: 700px;
  margin-top: -56px;
}

.people-frame02 {
  align-items: center;
  width: 210.75px;
  height: 36px;
  box-sizing: border-box;
  border-radius: 2px;
  order: 1;
  margin-left: 700px;
  margin-top: -15px;
}

.btn-edit02 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 51px;
  height: 36px;
  background: #ffffff;
  border: 1px solid #0d28a6;
  box-sizing: border-box;
  border-radius: 2px;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #0d28a6;
  margin-left: 935px;
  margin-top: -35px;
}

.btn-edit02 p {
  margin-top: 15px;
}

.container-Car {
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  position: static;
  width: 550px;
  height: 586px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 0px 24px;
}

.cardCar01 {
  margin-left: 190px;
  margin-top: 360px;
}

.cardCar02 {
  margin-left: 535px;
  margin-top: -510px;
}

.cardCar03 {
  margin-left: 880px;
  margin-top: -510px;
}

.img-mobil {
  width: 270px;
  height: 160px;
  margin-top: 20px;
  margin-left: 10px;
}

.tipe-mobil {
  margin-bottom: 5px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.harga {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.property-car-txt02 {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.property-car-settings02 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.property-car-calender02 {
  margin-bottom: 10px;
}

.btn-card {
  margin-top: 20px;
  margin-left: 75px;
}

.btn-pilihcar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: static;
  width: 250px;
  height: 45px;
  background: #5cb85f;
  border-radius: 2px;
  flex: none;
  order: 1;
  flex-grow: 1;
  color: white;
}

.btn-pilihcar p {
  margin-top: 16px;
}

.container-cardAPI{
  margin-top: 280px;
  margin-left: 150px;

}

.CardAll01{
  margin-top: 250px;
  margin-bottom: -300px;
  margin-left: -30px;
  
}

/* FOOTER DEFAULT */
.Footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 1141px;
  height: 128px;
  left: 173px;
  top: 672px;
}

.footer-content1 ul {
  list-style: none;
  line-height: 30px;
  color: #000000;
  margin-top: 500px;
  margin-left: 100px;
}

.footer-content2 ul {
  list-style: none;
  margin-right: 750px;
  margin-top: -107px;
  margin-left: 590px;
}

.footer-content3 {
  text-align: center;
  padding-right: 80;
  position: absolute;
  width: 268px;
  height: 20px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  margin-left: 750px;
  margin-top: -155px;
}
.footer-content3 ul {
  list-style: none;
  font-size: small;
  line-height: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 2px;
}

.footer-content3 img {
  height: 20px;
  width: 20px;
  margin-left: 50px;
  margin: 2px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-content4 {
  position: absolute;
  width: 268px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  margin-left: 1200px;
  margin-top: -160px;
}
